<!-- //templates/edit.html -->
{% extends "lectures/index.html" %}
 {% load static %}
{% block title %}Add New Employee Records{% endblock title %}
 
{% block content %}
{% if request.user.is_authenticated  and user.is_lecturer %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Multiple user login</title>
  </head>
  <style type="text/css">
    body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://i.imgur.com/GMmCQHC.png");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-left: 230px !important;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}
.form-group{
    font-size: 15px !important;
    font-weight: 200 !important
}
label{
    font-size: 13px;
    text-align: left !important;
}
input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
  </style>
  <body>
<form method="POST" class="post-form"  action="/viewas/{{student.id}}">  
   {% csrf_token %}  
  <div class="container">  
 <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row">
        <div class="col-xl-7 col-lg-12 col-md-9 col-11 text-center">
            <h3 style="margin-left: 170px !important;">{{students.s_fullname}} <br><br> Supervisor Assessment Form</h3>  
            <!-- <h4 style="margin-left:340px;">(This form is to be filled by the Industry Based Supervisor)</h4> -->
            <p class="blue-text"></p>
            <div class="card" style="width:900px">
                <h5 class="text-center mb-4"></h5>
                <!-- <form class="form-card" onsubmit="event.preventDefault()"> -->
                    <div class="row justify-content-between text-left">
            
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Student fullname:<span class="text-danger"> *</span></label>
                          <!-- <input required name="s_fullname" value="{{superassess.s_fullname}}" type="text" multiple class="form-control"> -->
                          <input type="text" class="form-control" name="s_fullname" id="id_s_fullname" required maxlength="150" value="{{ students.s_fullname }}" /> 
                        </div> 
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Phone No:<span class="text-danger"> *</span></label>
                          <!-- <input required name="s_fullname" value="{{superassess.s_fullname}}" type="text" multiple class="form-control"> -->
                          <input type="text" class="form-control" name="phone_number" id="id_phone_number" required maxlength="150" value="{{ students.phone_number }}" />  
                        </div>
                    </div>    
                    <div class="row justify-content-between text-left">  
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Gender</label>
                            <input type="text" class="form-control" placeholder="gender" value="{{students.gender}}" name='gender'>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Reg no:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" name="registration_no" id="id_registration_no" required maxlength="150" value="{{ students.registration_no }}" /> 
                        </div> 
                   </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Company Name:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" name="company_name" id="id_company_name" required maxlength="150" value="{{ students.company_name}}" />
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Address:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" name="address" id="id_address" required maxlength="150" value="{{ students.address }}" />
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Supervisor Name:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" name="supervisor_name" id="id_supervisor_name" required maxlength="150" value="{{ students.supervisor_name }}" />
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Supervisor Phone:<span class="text-danger"> *</span></label>
                         <input type="text" class="form-control" name="company_phone_no" id="id_company_phone_no" required maxlength="150" value="{{ students.company_phone_no }}" /> 
                        </div>  
                    </div>
                    <div class="row justify-content-between text-left">  
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Punctuality</label>
                            <input type="text" class="form-control"  value="{{students.punctual}}" name='gender'>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Regulations:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" required maxlength="150" value="{{ students.regulations}}" /> 
                        </div> 
                   </div>
                   <div class="row justify-content-between text-left">  
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Workmanship</label>
                            <input type="text" class="form-control"  value="{{students.workmanship}}" name='gender'>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">WorkOut:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control"  required maxlength="150" value="{{ students.workout }}" /> 
                        </div> 
                   </div>
                   <div class="row justify-content-between text-left">  
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Adaptability:</label>
                            <input type="text" class="form-control"  value="{{students.adaptability}}" >
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Communacation:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" value="{{ students.commu }}" /> 
                        </div> 
                   </div>
                   <div class="row justify-content-between text-left">  
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Reliability:</label>
                            <input type="text" class="form-control"  value="{{students.reliability}}" >
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Team Work:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" value="{{ students.team_work }}" /> 
                        </div> 
                   </div>
                   <div class="row justify-content-between text-left">  
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Overall Assessment:</label>
                            <input type="text" class="form-control"  value="{{students.overall_assessment}}" >
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Communacation:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" value="{{ students.commu }}" /> 
                        </div> 
                   </div>

                    <div class="row  text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">General Remarks<span class="text-danger"> *</span></label>
                           <input style="width:800px;height:200px;" type="text" class="form-control" name="general_remarks" id="id_general_remarks" required maxlength="150" value="{{ students.general_remarks }}" />
                        </div>
                        
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Assessed By:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" name="assessed_by" id="id_assessed_by" required maxlength="150" value="{{ students.assessed_by}}" />
                        </div>
                         
                        <!-- <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Status:<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="status" id="id_status"  maxlength="15" value="{{ superassess.status }}" />
                        </div> -->
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                        <label class="form-control-label px-3">Position/Designation:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" name="position" id="id_position" required maxlength="150" value="{{ students.position }}" /> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                          <label class="form-control-label px-3">Date:<span class="text-danger"> *</span></label>
                          <input type="text" class="form-control" name="mdate" id="id_mdate" required maxlength="15" value="{{ students.mdate }}" />
                          <!-- <input required name="mdate" value="{{superassess.mdate}}" id="mdate" type="date" multiple class="form-control"> -->
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</section>

</body>
   {% else %}
  <p>You are Not allowed to access this page</p>
{% endif %}
{% endblock content %}   